@using BlazorApp.Helpers
@using Humanizer
@using System.Collections

<div class="box hl7-message">
    @foreach (var segmentProperty in msg.GetType().GetProperties())
    {
        var segmentData = segmentProperty.GetValue(msg);
        if (segmentData != null)
        {
            <h4>@segmentProperty.Name</h4>
            @if (segmentData is IEnumerable enumerable && !(segmentData is string))
            {
                int index = 0;
                foreach (var item in enumerable)
                {
                    <div class="hl7-segment-item">
                        <h5>@segmentProperty.Name Item @index</h5>
                        <p>@item.ToHumanizedString()</p>
                    </div>
                    index++;
                }
            }
            else
            {
                <p>@segmentData.ToHumanizedString()</p>
            }
        }
    }
</div>

@code {
    [Parameter] public object msg { get; set; } = default!;
}
